deb http://ppa.launchpad.net/obsproject/obs-studio/ubuntu {{ ansible_distribution_release }} main
deb-src http://ppa.launchpad.net/obsproject/obs-studio/ubuntu {{ ansible_distribution_release }} main
