deb [signed-by=/etc/apt/keyrings/ppa-yubico.asc] http://ppa.launchpad.net/yubico/stable/ubuntu {{ ansible_distribution_release }} main
deb-src [signed-by=/etc/apt/keyrings/ppa-yubico.asc] http://ppa.launchpad.net/yubico/stable/ubuntu {{ ansible_distribution_release }} main
