Package: xorg-server
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: xorg-server-hwe-*
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: xserver-common
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: xserver-xorg-*
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: xwayland
Pin: origin ppa.launchpad.net
Pin-Priority: 995
