deb [signed-by=/etc/apt/keyrings/ppa-et.asc] http://ppa.launchpad.net/jgmath2000/et/ubuntu {{ ansible_distribution_release }} main
deb-src [signed-by=/etc/apt/keyrings/ppa-et.asc] http://ppa.launchpad.net/jgmath2000/et/ubuntu {{ ansible_distribution_release }} main
