Package: *
Pin: origin debian.sur5r.net
Pin-Priority: 1

Package: i3
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: i3-wm
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: i3-wm-dbg
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: i3lock
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: i3status
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: libanyevent-i3-perl
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: libxcb-xrm-dev
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: libxcb-xrm0
Pin: origin debian.sur5r.net
Pin-Priority: 995

Package: sur5r-keyring
Pin: origin debian.sur5r.net
Pin-Priority: 995

