#Debug::Acquire::cdrom "yes";
#Debug::Acquire::ftp "yes";
#Debug::Acquire::gpgv "yes";
#Debug::Acquire::http "yes";
#Debug::Acquire::https "yes";
#Debug::aptcdrom "yes";
#Debug::BuildDeps "yes";
#Debug::Hashes "yes";
#Debug::IdentCdrom "yes";
#Debug::IdentCDROM "yes";
#Debug::NoLocking "yes";
#Debug::pkgAcquire "yes";
#Debug::pkgAcquire::Auth "yes";
#Debug::pkgAcquire::Diffs "yes";
#Debug::pkgAcquire::RRed "yes";
#Debug::pkgAcquire::Worker "yes";
#Debug::pkgAutoRemove "yes";
#Debug::pkgDepCache::AutoInstall "yes";
#Debug::pkgDepCache::Marker "yes";
#Debug::pkgDPkgPM "yes";
#Debug::pkgDPkgProgressReporting "yes";
#Debug::pkgOrderList "yes";
#Debug::pkgPackageManager "yes";
#Debug::pkgPolicy "yes";
#Debug::pkgProblemResolver "yes";
#Debug::pkgProblemResolver::ShowScores "yes";
#Debug::RunScripts "yes";
#Debug::sourceList "yes";
