Package: *
Pin: origin deb.torproject.org
Pin-Priority: 1

Package: deb.torproject.org-keyring
Pin: origin deb.torproject.org
Pin-Priority: 995

Package: tor
Pin: origin deb.torproject.org
Pin-Priority: 995

Package: tor-geoipdb
Pin: origin deb.torproject.org
Pin-Priority: 995
