Package: yubikey-manager
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: yubikey-personalization-gui
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: libpam-yubico
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: libpam-u2f
Pin: origin ppa.launchpad.net
Pin-Priority: 995
