export PATH="${PATH}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Do nothing if not interactive
case "$-" in
*i*)
    true
    ;;
*)
    return
    ;;
esac

# Make appending to .bash_history immediate and print return code if not zero
shopt -s histappend

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
    xterm-color) color_prompt=yes;;
esac

if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null
then
    # We have color support; assume it's compliant with Ecma-48
    # (ISO/IEC-6429). (Lack of such support is extremely rare, and such
    # a case would tend to support setf rather than setaf.)
    color_prompt=yes
else
    color_prompt=no
fi


# Color prompt
if [[ $UID -ne 0 ]] 
then
    PROMPT='$'
    export PS1="\[\e[1;92m\]\u\[\e[1;91m\]@\[\e[1;92m\]${SHORT_HOSTNAME} \[\e[1;96m\]\w \[\e[1;96m\]$ \[\e[0m\]"
else
    PROMPT='#'
    export PS1="\[\e[1;91m\]\u\[\e[1;92m\]@\[\e[1;92m\]${SHORT_HOSTNAME} \[\e[1;96m\]\w \[\e[1;92m\]# \[\e[0m\]"
fi

# Unset color prompt for non-ssh terminals
if ! [ "$color_prompt" = yes ]
then
    export PS1="\u@${SHORT_HOSTNAME} \W ${PROMPT} "
fi

# enable color support of ls and grep
if [ -x /usr/bin/dircolors ]
then
    eval "$(dircolors -b)"
    LS_OPTIONS='--color=auto'
    GREP_OPTIONS='--color=auto'
fi

# Some useful aliases
alias grep="grep $GREP_OPTIONS"
alias fgrep="fgrep $GREP_OPTIONS"
alias egrep="egrep $GREP_OPTIONS"
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'
alias ls="ls $LS_OPTIONS"
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias vi='vim'
alias sqlplus='rlwrap sqlplus'
alias s='ssh'

# safety features
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'

# add -i or -I (for newer coreutils versions) option to /bin/rm command
rmtemp=$(mktemp)
if rm -I $rmtemp &>/dev/null; then
    alias rm="rm -I"
else
    alias rm="rm -i"
    rm $rmtemp;
fi

# Set editor to vim
EDITOR=vim
export EDITOR
