Package: i2p
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: i2p-router
Pin: origin ppa.launchpad.net
Pin-Priority: 995

Package: libjbigi-jni
Pin: origin ppa.launchpad.net
Pin-Priority: 995
