{
  "iptables": false,
  "ipv6": true,
  "fixed-cidr-v6": "5051::/112",
  "metrics-addr": "0.0.0.0:9323",
  "runtimes": {
    {% if nvidia %}
    "nvidia": {
      "args": [],
      "path": "nvidia-container-runtime"
    }
    {% endif %}
  }
}
