[Unit]
Description=Daily Podman System Cleanup Timer
Requires=podman-cleanup.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target