deb [signed-by=/etc/apt/keyrings/ppa-pv-safronov-backports.asc] https://ppa.launchpadcontent.net/pv-safronov/backports/ubuntu {{ ansible_distribution_release }} main
deb-src [signed-by=/etc/apt/keyrings/ppa-pv-safronov-backports.asc] https://ppa.launchpadcontent.net/pv-safronov/backports/ubuntu {{ ansible_distribution_release }} main
