deb https://ppa.launchpadcontent.net/pv-safronov/backports/ubuntu {{ ansible_distribution_release }} main
deb-src https://ppa.launchpadcontent.net/pv-safronov/backports/ubuntu {{ ansible_distribution_release }} main
